path.town {
    stroke: black;
    stroke-width: 0.5;
    fill: white;
    cursor: pointer;

    -webkit-transition: fill 0.25s; /* Safari */
    transition: fill 0.25s;

}

path.state {
    stroke: black;
    stroke-width: 1;
    fill-opacity: 0.0;  
    pointer-events: none;
}

path.town:hover{
    fill: gray;
}