//@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Ubuntu+Mono');
body{
    font-family: 'Karla', sans-serif;
}

.title {
    font-weight: 700px;
    font-size: 24px;
}

.mono {
    font-family: 'Ubuntu Mono', monospace;
}
¯
.explainer {
    color: gray;
}